.dashboard {
	display: flex;
	flex-direction: column;
	gap: 20px;
	.content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 20px;
		.count {
			display: flex;
			gap: 10px;
			background: #fff;
			padding: 5px;
			border-radius: 10px;
			align-items: center;
			.icon {
				font-size: 40px;
				font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
			}
			.details {
				display: inherit;
				flex-direction: column;
				align-items: flex-start;
				flex: 1;

				.head {
					display: flex;
					justify-content: space-between;
					width: 100%;
					font-size: 14px;
					span {
						cursor: pointer;
					}
				}

				h2 {
					small {
						font-size: 14px;
						margin-left: 5px;
					}
				}
			}
		}
	}

	.my-chart {
		grid-column: span 3;
		grid-row: span 3;
		background: #fff;
		border-radius: 10px;
		padding: 10px;
		font-size: 12px;
		@media (max-width: 550px) {
			grid-column: span 2;
			height: 300px;
		}
		@media (max-width: 950px) {
			height: 300px;
		}
	}
	.calendar-container {
		border: none;
		grid-column: span 2;
		grid-row: span 3;
		.main-calendar {
			width: 100%;
			border: none;
			border-radius: 10px;
		}
		.event-dot {
			width: 10px;
			height: 10px;
			margin: 2px auto 0;
			background-color: teal;
			border-radius: 50%;
		}
	}

	.clock {
		background: #fff;
		grid-row: span 3;
		border-radius: 10px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		small {
			align-self: flex-end;
			font-weight: 600;
			margin-bottom: 5px;
		}
		p {
			&.time {
				font-size: 90px;
				margin-top: -30px;
			}
			&.day {
				font-weight: 600;
				font-size: 20px;
			}
		}
	}
}
