@mixin fade-in-up {
	animation: fadeInUp 0.6s ease-out forwards;
}

@mixin zoom-in {
	animation: zoomIn 0.4s ease-out forwards;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
